{% extends "tracker/layout.html" %}
{% load static %}

{% block body %}
    <h2>Add Transaction</h2>
    <form class="transactionForm">
        {% csrf_token %}
        {{ transactionForm }}
        <button>Add</button>
    </form>
    <div class="transaction callout"></div>
    <h2>Transactions</h2>
    <table class="transactionTable">
        <tbody class="transactionTableBody">
            {% csrf_token %}
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date }}</td>
                <td>
                {% if transaction.isIncome %}
                    to
                {% else %}
                    from
                {% endif %}
                </td>
                <td>{{ transaction.account.name }}</td>
                <td>{{ transaction.amount }}</td>
                <td><button class="transactionDelete" data-transactionId="{{ transaction.id }}">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}